<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>

  <!-- CSS links -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">
  <!-- Font-family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- font awesona icons -->
  <script src="https://kit.fontawesome.com/ebb6d21e80.js" crossorigin="anonymous"></script>
  <!-- WEB DE REFERENCIA 
https://www.puzzlebreak.us/contact-and-directions -->
</head>

<body>
  <main class="row center" style="flex-grow: 1; flex-direction: column;">
   <h1 >Error 404. Página no encontrada</h1>
   <h4  style="color:#e0e4e4; margin-top: 40px;"><a href="/"">Ir a la pagina principal</a></h4>
  </main>
  <%- include("partials/footer") %>
    <!-- JS links -->
    <script src="js/responsive_menu.js"></script>
</body>

</html>