<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>

  <!-- CSS links -->
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">
  <!-- Font-family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- font awesona icons -->
  <script src="https://kit.fontawesome.com/ebb6d21e80.js" crossorigin="anonymous"></script>
  <!-- WEB DE REFERENCIA 
https://www.puzzlebreak.us/contact-and-directions -->
</head>

<body>
  <div id="imagen_fondo">
    <%- include("partials/header") %>
    <main>
      <section>
        <h1>TOMA LA INICIATIVA</h1>
        <h2>COMIENZA A ENTRENAR Y</h2>
        <h2> SIÉNTETE MÁS FUERTE</h2>
        <button class=" col-m-3 col-xl-3"><a href="/login_register">COMIENZA AHORA</a></button>
      </section>
    </main>
  </div>
  <%- include("partials/footer") %>
    <!-- JS links -->
    <script src="js/responsive_menu.js"></script>
</body>

</html>